* {
  padding: 0;
  margin: 0;
}

#game-container {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
}

.game-map {
  width: 480px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-mole {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  border: 1px solid grey;
  cursor: pointer;
  background-image: url(./../img/bg.png);
  background-size: cover;
  transition: background-image 0.5s;
  -webkit-transition: background-image 0.5s
}

.mole-coming {
  background-image: url(./../img/mole.png);
  background-color: #883d0b;
}

.start-action-container {
  margin: 10px 0;
  text-align: center;
}

.title {
  margin: 10px;
}

.button {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.count {
  text-align: center;
  line-height: 40px;
  height: 40px;
}
