<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja List</title>
  <link rel="stylesheet" href="./css/main.css">
  <script src="./js/vue.js"></script>
  <script defer src="./js/main.js"></script>
</head>
<body>
  <main id="main">
    <ul>
      <p v-show="isEmpty">Add Ninjas please.</p>
      <p v-show="!isEmpty">There are {{count}} ninjas.</p>
      <li v-for="ninja in ninjas">
        {{ninja.name}}:{{ninja.id}},{{ninja.skills}}
      </li>
    </ul>
    <div>
      <span>Ninja name:</span>
      <input type="text" v-model="newNinja.name"><br>
      
      <span>Ninja ID:</span>
      <input type="number" v-model="newNinja.id"><br>
      
      <span>Ninja skills:</span>
      <input type="text" v-model="newNinja.skills"><br>

      <input type="submit" value="Add" @click="addNinja">
    </div>
    <div>
      <span>Ninja ID:</span>
      <input type="number" v-model="deadNinja"><br>
      <input type="submit" value="Delete" @click="deleteNinja">
    </div>
  </main>
</body>
</html>